<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A_2</key>
    <array>
      <string>A.salt</string>
      <string>L_A</string>
    </array>
    <key>public.kern1.Alef_1</key>
    <array>
      <string>alef-ar</string>
      <string>alef-ar.salt</string>
      <string>alefHamzaabove-ar</string>
      <string>alefMadda-ar</string>
      <string>alefWasla-ar</string>
      <string>kaf-ar</string>
      <string>lam-ar</string>
      <string>lam-ar.fina</string>
      <string>lam-ar.medi</string>
      <string>lam-ar.init</string>
    </array>
    <key>public.kern1.Aupper_2</key>
    <array>
      <string>A</string>
      <string>M</string>
    </array>
    <key>public.kern1.B_2</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C_2</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>euro</string>
    </array>
    <key>public.kern1.D_2</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
    </array>
    <key>public.kern1.E_2</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
    </array>
    <key>public.kern1.Eight-ar_2</key>
    <array>
      <string>eight-ar</string>
      <string>eightFarsi-ar</string>
    </array>
    <key>public.kern1.F_2</key>
    <array>
      <string>F</string>
      <string>F.salt</string>
    </array>
    <key>public.kern1.Five-ar_2</key>
    <array>
      <string>five-ar</string>
      <string>fiveFarsi-ar</string>
    </array>
    <key>public.kern1.Four-ar_2</key>
    <array>
      <string>four-ar</string>
    </array>
    <key>public.kern1.G_2</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.I_2</key>
    <array>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>U</string>
      <string>C_H</string>
      <string>T_H</string>
    </array>
    <key>public.kern1.J_2</key>
    <array>
      <string>IJ</string>
      <string>J</string>
      <string>Jacute</string>
    </array>
    <key>public.kern1.K_2</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.Kaf-lig_1</key>
    <array>
      <string>kaf_alefMaksura-ar</string>
      <string>kaf_yeh-ar</string>
      <string>kaf_yehHamzaabove-ar</string>
      <string>keheh_alefMaksura-ar</string>
      <string>keheh_yeh-ar</string>
      <string>keheh_yehHamzaabove-ar</string>
      <string>gaf_alefMaksura-ar</string>
      <string>gaf_yeh-ar</string>
      <string>gaf_yehHamzaabove-ar</string>
    </array>
    <key>public.kern1.L_2</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
      <string>L.salt</string>
    </array>
    <key>public.kern1.Meem-lig_1</key>
    <array>
      <string>meem_reh-ar</string>
      <string>meem_zain-ar</string>
    </array>
    <key>public.kern1.Nine-ar_2</key>
    <array>
      <string>nine-ar</string>
      <string>nineFarsi-ar</string>
    </array>
    <key>public.kern1.Noon-isol_1</key>
    <array>
      <string>noon-ar</string>
      <string>noonghunna-ar</string>
      <string>noonThreedotsabove-ar</string>
    </array>
    <key>public.kern1.O_2</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Thorn</string>
      <string>Q</string>
    </array>
    <key>public.kern1.One-ar_2</key>
    <array>
      <string>one-ar</string>
      <string>six-ar</string>
      <string>oneFarsi-ar</string>
    </array>
    <key>public.kern1.Qaf-isol_1</key>
    <array>
      <string>qafDotless-ar</string>
      <string>qaf-ar</string>
      <string>qafDotabove-ar</string>
      <string>qafThreedotsabove-ar</string>
    </array>
    <key>public.kern1.R_2</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S_2</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>dollar</string>
    </array>
    <key>public.kern1.Seven-ar_2</key>
    <array>
      <string>seven-ar</string>
      <string>sevenFarsi-ar</string>
      <string>sevenFarsi-ar.urdu</string>
    </array>
    <key>public.kern1.T_2</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Ydieresis</string>
      <string>N_T</string>
      <string>T_T</string>
    </array>
    <key>public.kern1.Three-ar_2</key>
    <array>
      <string>three-ar</string>
      <string>threeFarsi-ar</string>
      <string>fourFarsi-ar</string>
      <string>sixFarsi-ar</string>
      <string>fourFarsi-ar.urdu</string>
    </array>
    <key>public.kern1.Two-ar_2</key>
    <array>
      <string>two-ar</string>
      <string>twoFarsi-ar</string>
    </array>
    <key>public.kern1.U_2</key>
    <array>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.V_2</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W_2</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.Y_2</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
      <string>yen</string>
    </array>
    <key>public.kern1.Z_2</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.Zero-ar_2</key>
    <array>
      <string>zero-ar</string>
      <string>zeroFarsi-ar</string>
    </array>
    <key>public.kern1.ain-init_1</key>
    <array>
      <string>ain-ar.init</string>
      <string>ainThreedots-ar.init</string>
      <string>ghain-ar.init</string>
    </array>
    <key>public.kern1.ain-lig_1</key>
    <array>
      <string>ain_reh-ar</string>
      <string>ain_zain-ar</string>
      <string>ghain_reh-ar</string>
      <string>ghain_zain-ar</string>
    </array>
    <key>public.kern1.beh-isol_1</key>
    <array>
      <string>behDotless-ar</string>
      <string>beh-ar</string>
      <string>peh-ar</string>
      <string>teh-ar</string>
      <string>theh-ar</string>
      <string>tteh-ar</string>
      <string>dal-ar</string>
      <string>thal-ar</string>
      <string>ddal-ar</string>
      <string>dul-ar</string>
      <string>seen-ar</string>
      <string>sheen-ar</string>
      <string>sheenThreedotsbelow-ar</string>
      <string>sad-ar</string>
      <string>dad-ar</string>
      <string>tah-ar</string>
      <string>tahThreedots-ar</string>
      <string>zah-ar</string>
      <string>feh-ar</string>
      <string>veh-ar</string>
      <string>fehDotless-ar</string>
      <string>fehDotmovedbelow-ar.</string>
      <string>keheh-ar</string>
      <string>kehehDotabove-ar</string>
      <string>gaf-ar</string>
    </array>
    <key>public.kern1.beh-lig_1</key>
    <array>
      <string>beh_reh-ar</string>
      <string>beh_zain-ar</string>
    </array>
    <key>public.kern1.behDotless-init_1</key>
    <array>
      <string>behDotless-ar.init</string>
      <string>alefMaksura-ar.init</string>
      <string>teh-ar.init</string>
      <string>theh-ar.init</string>
      <string>tteh-ar.init</string>
      <string>seen-ar.init</string>
      <string>sheen-ar.init</string>
      <string>sheenThreedotsbelow-ar.init</string>
      <string>sad-ar.init</string>
      <string>dad-ar.init</string>
      <string>tah-ar.init</string>
      <string>tahThreedots-ar.init</string>
      <string>zah-ar.init</string>
      <string>feh-ar.init</string>
      <string>veh-ar.init</string>
      <string>fehDotless-ar.init</string>
      <string>fehDotmovedbelow-ar.init</string>
      <string>qaf-ar.init</string>
      <string>qafDotabove-ar.init</string>
      <string>qafThreedotsabove-ar.init</string>
      <string>kaf-ar.init</string>
      <string>kaf-ar.init.calt</string>
      <string>keheh-ar.init</string>
      <string>keheh-ar.init.calt</string>
      <string>kehehDotabove-ar.init</string>
      <string>gaf-ar.init</string>
      <string>noon-ar.init</string>
      <string>noonThreedotsabove-ar.init</string>
      <string>yehHamzaabove-ar.init</string>
    </array>
    <key>public.kern1.behDotless-lig_1</key>
    <array>
      <string>behDotless_reh-ar</string>
      <string>teh_reh-ar</string>
      <string>teh_zain-ar</string>
      <string>theh_reh-ar</string>
      <string>theh_zain-ar</string>
      <string>tteh_reh-ar</string>
      <string>tteh_zain-ar</string>
      <string>seen_reh-ar</string>
      <string>seen_alefMaksura-ar</string>
      <string>seen_yeh-ar</string>
      <string>seen_zain-ar</string>
      <string>seen_yehHamzaabove-ar</string>
      <string>seen_yehFarsi-ar</string>
      <string>sheen_reh-ar</string>
      <string>sheen_zain-ar</string>
      <string>sheen_alefMaksura-ar</string>
      <string>sheen_yeh-ar</string>
      <string>sheen_yehHamzaabove-ar</string>
      <string>sheen_yehFarsi-ar</string>
      <string>sheenThreedotsbelow_alefMaksura-ar</string>
      <string>sheenThreedotsbelow_yeh-ar</string>
      <string>sheenThreedotsbelow_yehHamzaabove-ar</string>
      <string>sheenThreedotsbelow_yehFarsi-ar</string>
      <string>sad_reh-ar</string>
      <string>sad_zain-ar</string>
      <string>sad_alefMaksura-ar</string>
      <string>sad_yeh-ar</string>
      <string>sad_yehHamzaabove-ar</string>
      <string>sad_yehFarsi-ar</string>
      <string>dad_reh-ar</string>
      <string>dad_zain-ar</string>
      <string>dad_alefMaksura-ar</string>
      <string>dad_yeh-ar</string>
      <string>dad_yehHamzaabove-ar</string>
      <string>dad_yehFarsi-ar</string>
      <string>feh_reh-ar</string>
      <string>feh_zain-ar</string>
      <string>fehDotless_reh-ar</string>
      <string>qaf_reh-ar</string>
      <string>qaf_zain-ar</string>
      <string>noon_reh-ar</string>
      <string>noon_zain-ar</string>
    </array>
    <key>public.kern1.c_2</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>cent</string>
    </array>
    <key>public.kern1.caron_2</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
      <string>tcaron</string>
    </array>
    <key>public.kern1.colon_2</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.dnom_2</key>
    <array>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
    </array>
    <key>public.kern1.e_2</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>oe</string>
    </array>
    <key>public.kern1.f_2</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.feh-lig_1</key>
    <array>
      <string>feh_alefMaksura-ar</string>
      <string>feh_yeh-ar</string>
      <string>feh_yehHamzaabove-ar</string>
      <string>feh_yehFarsi-ar</string>
      <string>veh_alefMaksura-ar</string>
      <string>veh_yeh-ar</string>
      <string>veh_yehHamzaabove-ar</string>
      <string>veh_yehFarsi-ar</string>
      <string>fehDotless_alefMaksura-ar</string>
      <string>qaf_alefMaksura-ar</string>
      <string>qaf_yeh-ar</string>
      <string>qaf_yehHamzaabove-ar</string>
      <string>qaf_yehFarsi-ar</string>
    </array>
    <key>public.kern1.frac_2</key>
    <array>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
    </array>
    <key>public.kern1.g_2</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern1.hah-init_1</key>
    <array>
      <string>jeem-ar.init</string>
      <string>hah-ar.init</string>
      <string>khah-ar.init</string>
    </array>
    <key>public.kern1.hah-lig_1</key>
    <array>
      <string>jeem_alefMaksura-ar</string>
      <string>jeem_yeh-ar</string>
      <string>jeem_yehHamzaabove-ar</string>
      <string>jeem_yehFarsi-ar</string>
      <string>hah_alefMaksura-ar</string>
      <string>hah_yeh-ar</string>
      <string>hah_yehHamzaabove-ar</string>
      <string>hah_yehFarsi-ar</string>
      <string>khah_alefMaksura-ar</string>
      <string>khah_yeh-ar</string>
      <string>khah_yehHamzaabove-ar</string>
      <string>khah_yehFarsi-ar</string>
    </array>
    <key>public.kern1.heh-init_1</key>
    <array>
      <string>heh-ar.init</string>
      <string>hehDoachashmee-ar</string>
      <string>hehDoachashmee-ar.init</string>
    </array>
    <key>public.kern1.heh-isol_1</key>
    <array>
      <string>heh-ar</string>
      <string>hehgoal-ar</string>
      <string>hehgoalHamzaabove-ar</string>
      <string>tehMarbuta-ar</string>
      <string>tehMarbutagoal-ar</string>
    </array>
    <key>public.kern1.hyphen_1</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.i_2</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>u</string>
      <string>f_i</string>
    </array>
    <key>public.kern1.idotless_2</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern1.j_2</key>
    <array>
      <string>ij</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jacute</string>
      <string>f_j</string>
    </array>
    <key>public.kern1.jeem-lig_1</key>
    <array>
      <string>jeem_reh-ar</string>
      <string>jeem_reh-ar.fina</string>
      <string>hah_reh-ar</string>
      <string>hah_reh-ar.fina</string>
      <string>hah_zain-ar</string>
      <string>hah_zain-ar.fina</string>
      <string>khah_reh-ar</string>
      <string>khah_reh-ar.fina</string>
      <string>khah_zain-ar</string>
      <string>khah_zain-ar.fina</string>
    </array>
    <key>public.kern1.k_2</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern1.l_2</key>
    <array>
      <string>d</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
    </array>
    <key>public.kern1.lamAlef-isol_1</key>
    <array>
      <string>lam_alef-ar</string>
      <string>lam_alefHamzaabove-ar</string>
      <string>lam_alefHamzabelow-ar</string>
      <string>lam_alefMadda-ar</string>
      <string>lam_alefWasla-ar</string>
    </array>
    <key>public.kern1.n_2</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.numr_2</key>
    <array>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
    </array>
    <key>public.kern1.o_2</key>
    <array>
      <string>b</string>
      <string>eth</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.peh-lig_1</key>
    <array>
      <string>peh_reh-ar</string>
      <string>peh_zain-ar</string>
    </array>
    <key>public.kern1.period_2</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.plus_2</key>
    <array>
      <string>plus</string>
      <string>plusminus</string>
    </array>
    <key>public.kern1.r_2</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.reh-isol_1</key>
    <array>
      <string>reh-ar</string>
      <string>zain-ar</string>
      <string>rreh-ar</string>
      <string>jeh-ar</string>
      <string>waw-ar</string>
      <string>wawHamzaabove-ar</string>
    </array>
    <key>public.kern1.s_2</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>germandbls</string>
    </array>
    <key>public.kern1.t_2</key>
    <array>
      <string>t</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>f_t</string>
      <string>t_t</string>
    </array>
    <key>public.kern1.v_2</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern1.w_2</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.y_2</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ytilde</string>
      <string>f_y</string>
    </array>
    <key>public.kern1.yeh-isol_1</key>
    <array>
      <string>alefMaksura-ar</string>
      <string>yeh-ar</string>
      <string>yehHamzaabove-ar</string>
      <string>yehFarsi-ar</string>
    </array>
    <key>public.kern1.yeh-lig_1</key>
    <array>
      <string>yeh_reh-ar</string>
      <string>yeh_zain-ar</string>
    </array>
    <key>public.kern1.z_2</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.A_1</key>
    <array>
      <string>AE</string>
      <string>A.salt</string>
    </array>
    <key>public.kern2.Aupper_1</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern2.Eight-ar_1</key>
    <array>
      <string>eight-ar</string>
      <string>eightFarsi-ar</string>
    </array>
    <key>public.kern2.Eth</key>
    <array>
      <string>Eth</string>
      <string>Dcroat</string>
    </array>
    <key>public.kern2.Five-ar_1</key>
    <array>
      <string>five-ar</string>
      <string>fiveFarsi-ar</string>
    </array>
    <key>public.kern2.Four-ar_1</key>
    <array>
      <string>four-ar</string>
    </array>
    <key>public.kern2.I_1</key>
    <array>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>F.salt</string>
      <string>L.salt</string>
      <string>L_A</string>
      <string>N_T</string>
    </array>
    <key>public.kern2.J_1</key>
    <array>
      <string>J</string>
      <string>Jacute</string>
    </array>
    <key>public.kern2.Nine-ar_1</key>
    <array>
      <string>nine-ar</string>
      <string>nineFarsi-ar</string>
    </array>
    <key>public.kern2.O_1</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>C_H</string>
    </array>
    <key>public.kern2.One-ar_1</key>
    <array>
      <string>one-ar</string>
      <string>oneFarsi-ar</string>
    </array>
    <key>public.kern2.S_1</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>dollar</string>
    </array>
    <key>public.kern2.Seven-ar_1</key>
    <array>
      <string>seven-ar</string>
      <string>sevenFarsi-ar</string>
      <string>sevenFarsi-ar.urdu</string>
    </array>
    <key>public.kern2.Six-ar_1</key>
    <array>
      <string>six-ar</string>
      <string>sixFarsi-ar</string>
    </array>
    <key>public.kern2.T_1</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Ydieresis</string>
      <string>T_H</string>
      <string>T_T</string>
    </array>
    <key>public.kern2.Three-ar_1</key>
    <array>
      <string>three-ar</string>
      <string>threeFarsi-ar</string>
      <string>fourFarsi-ar</string>
      <string>fourFarsi-ar.urdu</string>
    </array>
    <key>public.kern2.Two-ar_1</key>
    <array>
      <string>two-ar</string>
      <string>twoFarsi-ar</string>
    </array>
    <key>public.kern2.U_1</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.V_1</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W_1</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.Y_1</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
      <string>yen</string>
    </array>
    <key>public.kern2.Z_1</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.Zero-ar_1</key>
    <array>
      <string>zero-ar</string>
      <string>zeroFarsi-ar</string>
    </array>
    <key>public.kern2.colon_1</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.dnom_1</key>
    <array>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
    </array>
    <key>public.kern2.f_1</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>f_i</string>
      <string>f_j</string>
      <string>f_t</string>
      <string>f_y</string>
    </array>
    <key>public.kern2.frac_1</key>
    <array>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
    </array>
    <key>public.kern2.g_1</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern2.hyphen_1</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.i_1</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
    </array>
    <key>public.kern2.idotless_1</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>p</string>
      <string>thorn</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern2.j_1</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
      <string>jacute</string>
    </array>
    <key>public.kern2.l_1</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
    </array>
    <key>public.kern2.numr_1</key>
    <array>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
    </array>
    <key>public.kern2.o_1</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>cent</string>
    </array>
    <key>public.kern2.period_1</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.plus_1</key>
    <array>
      <string>plus</string>
      <string>plusminus</string>
    </array>
    <key>public.kern2.reh</key>
    <array>
      <string>reh-ar</string>
      <string>zain-ar</string>
      <string>rreh-ar</string>
      <string>jeh-ar</string>
    </array>
    <key>public.kern2.reh-fina</key>
    <array>
      <string>reh-ar.fina</string>
      <string>zain-ar.fina</string>
      <string>rreh-ar.fina</string>
      <string>jeh-ar.fina</string>
      <string>behDotless_reh-ar</string>
      <string>behDotless_reh-ar.fina</string>
      <string>beh_reh-ar</string>
      <string>beh_reh-ar.fina</string>
      <string>beh_zain-ar</string>
      <string>beh_zain-ar.fina</string>
      <string>peh_reh-ar</string>
      <string>peh_reh-ar.fina</string>
      <string>peh_zain-ar</string>
      <string>peh_zain-ar.fina</string>
      <string>teh_reh-ar</string>
      <string>teh_reh-ar.fina</string>
      <string>teh_zain-ar</string>
      <string>teh_zain-ar.fina</string>
      <string>theh_reh-ar</string>
      <string>theh_reh-ar.fina</string>
      <string>theh_zain-ar</string>
      <string>theh_zain-ar.fina</string>
      <string>tteh_reh-ar</string>
      <string>tteh_zain-ar</string>
      <string>jeem_reh-ar</string>
      <string>jeem_reh-ar.fina</string>
      <string>jeem_zain-ar</string>
      <string>jeem_zain-ar.fina</string>
      <string>hah_reh-ar</string>
      <string>hah_reh-ar.fina</string>
      <string>hah_zain-ar</string>
      <string>hah_zain-ar.fina</string>
      <string>khah_reh-ar</string>
      <string>khah_reh-ar.fina</string>
      <string>khah_zain-ar</string>
      <string>khah_zain-ar.fina</string>
      <string>seen_reh-ar</string>
      <string>seen_reh-ar.fina</string>
      <string>seen_zain-ar</string>
      <string>seen_zain-ar.fina</string>
      <string>sheen_reh-ar</string>
      <string>sheen_reh-ar.fina</string>
      <string>sheen_zain-ar</string>
      <string>sheen_zain-ar.fina</string>
      <string>sad_reh-ar</string>
      <string>sad_reh-ar.fina</string>
      <string>sad_zain-ar</string>
      <string>sad_zain-ar.fina</string>
      <string>dad_reh-ar</string>
      <string>dad_reh-ar.fina</string>
      <string>dad_zain-ar</string>
      <string>dad_zain-ar.fina</string>
      <string>ain_reh-ar</string>
      <string>ain_zain-ar</string>
      <string>ghain_reh-ar</string>
      <string>ghain_zain-ar</string>
      <string>feh_reh-ar</string>
      <string>feh_zain-ar</string>
      <string>fehDotless_reh-ar</string>
      <string>qaf_reh-ar</string>
      <string>qaf_zain-ar</string>
      <string>meem_reh-ar</string>
      <string>meem_zain-ar</string>
      <string>noon_reh-ar</string>
      <string>noon_reh-ar.fina</string>
      <string>noon_zain-ar</string>
      <string>noon_zain-ar.fina</string>
      <string>alefMaksura_reh-ar.fina</string>
      <string>alefMaksura_zain-ar.fina</string>
      <string>yeh_reh-ar.fina</string>
      <string>yeh_zain-ar.fina</string>
      <string>yeh_reh-ar</string>
      <string>yeh_zain-ar</string>
      <string>yehHamzaabove_reh-ar.fina</string>
      <string>yehHamzaabove_zain-ar.fina</string>
    </array>
    <key>public.kern2.s_1</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.t_1</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t_t</string>
    </array>
    <key>public.kern2.u_1</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ytilde</string>
    </array>
    <key>public.kern2.v_1</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.w_1</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.z_1</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
