<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A_2</key>
	<array>
		<string>A.salt</string>
		<string>L_A</string>
	</array>
	<key>public.kern1.Alef_1</key>
	<array>
		<string>uni0627</string>
		<string>uni0627.salt</string>
		<string>uni0623</string>
		<string>uni0622</string>
		<string>uni0671</string>
		<string>uni0643</string>
		<string>uni0644</string>
		<string>uni0644.fina</string>
		<string>uni0644.medi</string>
		<string>uni0644.init</string>
	</array>
	<key>public.kern1.Aupper_2</key>
	<array>
		<string>A</string>
		<string>M</string>
	</array>
	<key>public.kern1.B_2</key>
	<array>
		<string>B</string>
	</array>
	<key>public.kern1.C_2</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>Euro</string>
	</array>
	<key>public.kern1.D_2</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
	</array>
	<key>public.kern1.E_2</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>OE</string>
	</array>
	<key>public.kern1.Eightar_2</key>
	<array>
		<string>uni0668</string>
		<string>uni06F8</string>
	</array>
	<key>public.kern1.F_2</key>
	<array>
		<string>F</string>
		<string>F.salt</string>
	</array>
	<key>public.kern1.Fivear_2</key>
	<array>
		<string>uni0665</string>
		<string>uni06F5</string>
	</array>
	<key>public.kern1.Fourar_2</key>
	<array>
		<string>uni0664</string>
	</array>
	<key>public.kern1.G_2</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
	</array>
	<key>public.kern1.I_2</key>
	<array>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
		<string>U</string>
		<string>C_H</string>
		<string>T_H</string>
	</array>
	<key>public.kern1.J_2</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>uni004A0301</string>
	</array>
	<key>public.kern1.K_2</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
	</array>
	<key>public.kern1.Kaflig_1</key>
	<array>
		<string>uni06430649</string>
		<string>uni0643064A</string>
		<string>uni06430626</string>
		<string>uni06A90649</string>
		<string>uni06A9064A</string>
		<string>uni06A90626</string>
		<string>uni06AF0649</string>
		<string>uni06AF064A</string>
		<string>uni06AF0626</string>
	</array>
	<key>public.kern1.L_2</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Lslash</string>
		<string>L.salt</string>
	</array>
	<key>public.kern1.Meemlig_1</key>
	<array>
		<string>uni06450631</string>
		<string>uni06450632</string>
	</array>
	<key>public.kern1.Ninear_2</key>
	<array>
		<string>uni0669</string>
		<string>uni06F9</string>
	</array>
	<key>public.kern1.Noonisol_1</key>
	<array>
		<string>uni0646</string>
		<string>uni06BA</string>
		<string>uni06BD</string>
	</array>
	<key>public.kern1.O_2</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Thorn</string>
		<string>Q</string>
	</array>
	<key>public.kern1.Onear_2</key>
	<array>
		<string>uni0661</string>
		<string>uni0666</string>
		<string>uni06F1</string>
	</array>
	<key>public.kern1.Qafisol_1</key>
	<array>
		<string>uni066F</string>
		<string>uni0642</string>
		<string>uni06A7</string>
		<string>uni06A8</string>
	</array>
	<key>public.kern1.R_2</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>public.kern1.S_2</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>dollar</string>
	</array>
	<key>public.kern1.Sevenar_2</key>
	<array>
		<string>uni0667</string>
		<string>uni06F7</string>
		<string>uni06F7.urdu</string>
	</array>
	<key>public.kern1.T_2</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>Ydieresis</string>
		<string>N_T</string>
		<string>T_T</string>
	</array>
	<key>public.kern1.Threear_2</key>
	<array>
		<string>uni0663</string>
		<string>uni06F3</string>
		<string>uni06F4</string>
		<string>uni06F6</string>
		<string>uni06F4.urdu</string>
	</array>
	<key>public.kern1.Twoar_2</key>
	<array>
		<string>uni0662</string>
		<string>uni06F2</string>
	</array>
	<key>public.kern1.U_2</key>
	<array>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern1.V_2</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern1.W_2</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.Y_2</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
		<string>yen</string>
	</array>
	<key>public.kern1.Z_2</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern1.Zeroar_2</key>
	<array>
		<string>uni0660</string>
		<string>uni06F0</string>
	</array>
	<key>public.kern1.aininit_1</key>
	<array>
		<string>uni0639.init</string>
		<string>uni06A0.init</string>
		<string>uni063A.init</string>
	</array>
	<key>public.kern1.ainlig_1</key>
	<array>
		<string>uni06390631</string>
		<string>uni06390632</string>
		<string>uni063A0631</string>
		<string>uni063A0632</string>
	</array>
	<key>public.kern1.behDotlessinit_1</key>
	<array>
		<string>uni066E.init</string>
		<string>uni0649.init</string>
		<string>uni062A.init</string>
		<string>uni062B.init</string>
		<string>uni0679.init</string>
		<string>uni0633.init</string>
		<string>uni0634.init</string>
		<string>uni069C.init</string>
		<string>uni0635.init</string>
		<string>uni0636.init</string>
		<string>uni0637.init</string>
		<string>uni069F.init</string>
		<string>uni0638.init</string>
		<string>uni0641.init</string>
		<string>uni06A4.init</string>
		<string>uni06A1.init</string>
		<string>uni06A2.init</string>
		<string>uni0642.init</string>
		<string>uni06A7.init</string>
		<string>uni06A8.init</string>
		<string>uni0643.init</string>
		<string>uni0643.init.calt</string>
		<string>uni06A9.init</string>
		<string>uni06A9.init.calt</string>
		<string>uni0762.init</string>
		<string>uni06AF.init</string>
		<string>uni0646.init</string>
		<string>uni06BD.init</string>
		<string>uni0626.init</string>
	</array>
	<key>public.kern1.behDotlesslig_1</key>
	<array>
		<string>uni066E0631</string>
		<string>uni06330631</string>
		<string>uni06330649</string>
		<string>uni0633064A</string>
		<string>uni06330632</string>
		<string>uni06330626</string>
		<string>uni063306CC</string>
		<string>uni06340631</string>
		<string>uni06340632</string>
		<string>uni06340649</string>
		<string>uni0634064A</string>
		<string>uni06340626</string>
		<string>uni063406CC</string>
		<string>uni069C0649</string>
		<string>uni069C064A</string>
		<string>uni069C0626</string>
		<string>uni069C06CC</string>
		<string>uni06350631</string>
		<string>uni06350632</string>
		<string>uni06350649</string>
		<string>uni0635064A</string>
		<string>uni06350626</string>
		<string>uni063506CC</string>
		<string>uni06360631</string>
		<string>uni06360632</string>
		<string>uni06360649</string>
		<string>uni0636064A</string>
		<string>uni06360626</string>
		<string>uni063606CC</string>
		<string>uni06410631</string>
		<string>uni06410632</string>
		<string>uni06A10631</string>
		<string>uni06420631</string>
		<string>uni06420632</string>
	</array>
	<key>public.kern1.behisol_1</key>
	<array>
		<string>uni066E</string>
		<string>uni0628</string>
		<string>uni067E</string>
		<string>uni062A</string>
		<string>uni062B</string>
		<string>uni0679</string>
		<string>uni062F</string>
		<string>uni0630</string>
		<string>uni0688</string>
		<string>uni068E</string>
		<string>uni0633</string>
		<string>uni0634</string>
		<string>uni069C</string>
		<string>uni0635</string>
		<string>uni0636</string>
		<string>uni0637</string>
		<string>uni069F</string>
		<string>uni0638</string>
		<string>uni0641</string>
		<string>uni06A4</string>
		<string>uni06A1</string>
		<string>uni06A2.</string>
		<string>uni06A9</string>
		<string>uni0762</string>
		<string>uni06AF</string>
	</array>
	<key>public.kern1.behlig_1</key>
	<array>
		<string>uni06280631</string>
		<string>uni06280632</string>
	</array>
	<key>public.kern1.c_2</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>cent</string>
	</array>
	<key>public.kern1.caron_2</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
		<string>tcaron</string>
	</array>
	<key>public.kern1.colon_2</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.dnom_2</key>
	<array>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
	</array>
	<key>public.kern1.e_2</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>oe</string>
	</array>
	<key>public.kern1.f_2</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>public.kern1.fehlig_1</key>
	<array>
		<string>uni06410649</string>
		<string>uni0641064A</string>
		<string>uni06410626</string>
		<string>uni064106CC</string>
		<string>uni06A40649</string>
		<string>uni06A4064A</string>
		<string>uni06A40626</string>
		<string>uni06A406CC</string>
		<string>uni06A10649</string>
		<string>uni06420649</string>
		<string>uni0642064A</string>
		<string>uni06420626</string>
		<string>uni064206CC</string>
	</array>
	<key>public.kern1.frac_2</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
	</array>
	<key>public.kern1.g_2</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern1.hahinit_1</key>
	<array>
		<string>uni062C.init</string>
		<string>uni062D.init</string>
		<string>uni062E.init</string>
	</array>
	<key>public.kern1.hahlig_1</key>
	<array>
		<string>uni062C0649</string>
		<string>uni062C064A</string>
		<string>uni062C0626</string>
		<string>uni062C06CC</string>
		<string>uni062D0649</string>
		<string>uni062D064A</string>
		<string>uni062D0626</string>
		<string>uni062D06CC</string>
		<string>uni062E0649</string>
		<string>uni062E064A</string>
		<string>uni062E0626</string>
		<string>uni062E06CC</string>
	</array>
	<key>public.kern1.hehinit_1</key>
	<array>
		<string>uni0647.init</string>
		<string>uni06BE</string>
		<string>uni06BE.init</string>
	</array>
	<key>public.kern1.hehisol_1</key>
	<array>
		<string>uni0647</string>
		<string>uni06C1</string>
		<string>uni06C2</string>
		<string>uni0629</string>
		<string>uni06C3</string>
	</array>
	<key>public.kern1.hyphen_1</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern1.i_2</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>u</string>
		<string>f_i</string>
	</array>
	<key>public.kern1.idotless_2</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern1.j_2</key>
	<array>
		<string>ij</string>
		<string>j</string>
		<string>uni0237</string>
		<string>uni006A0301</string>
		<string>f_j</string>
	</array>
	<key>public.kern1.jeemlig_1</key>
	<array>
		<string>uni062C0631</string>
		<string>uni062C0631.fina</string>
		<string>uni062D0631</string>
		<string>uni062D0631.fina</string>
		<string>uni062D0632</string>
		<string>uni062D0632.fina</string>
		<string>uni062E0631</string>
		<string>uni062E0631.fina</string>
		<string>uni062E0632</string>
		<string>uni062E0632.fina</string>
	</array>
	<key>public.kern1.k_2</key>
	<array>
		<string>k</string>
		<string>uni0137</string>
	</array>
	<key>public.kern1.l_2</key>
	<array>
		<string>d</string>
		<string>l</string>
		<string>lacute</string>
		<string>uni013C</string>
	</array>
	<key>public.kern1.lamAlefisol_1</key>
	<array>
		<string>uni06440627</string>
		<string>uni06440623</string>
		<string>uni06440625</string>
		<string>uni06440622</string>
		<string>uni06440671</string>
	</array>
	<key>public.kern1.n_2</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.numr_2</key>
	<array>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
	</array>
	<key>public.kern1.o_2</key>
	<array>
		<string>b</string>
		<string>eth</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.period_2</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern1.plus_2</key>
	<array>
		<string>plus</string>
		<string>plusminus</string>
	</array>
	<key>public.kern1.r_2</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
	</array>
	<key>public.kern1.rehisol_1</key>
	<array>
		<string>uni0631</string>
		<string>uni0632</string>
		<string>uni0691</string>
		<string>uni0698</string>
		<string>uni0648</string>
		<string>uni0624</string>
	</array>
	<key>public.kern1.s_2</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>uni0219</string>
		<string>germandbls</string>
	</array>
	<key>public.kern1.t_2</key>
	<array>
		<string>t</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>f_t</string>
		<string>t_t</string>
	</array>
	<key>public.kern1.v_2</key>
	<array>
		<string>v</string>
	</array>
	<key>public.kern1.w_2</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.y_2</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>uni1EF9</string>
		<string>f_y</string>
	</array>
	<key>public.kern1.yehisol_1</key>
	<array>
		<string>uni0649</string>
		<string>uni064A</string>
		<string>uni0626</string>
		<string>uni06CC</string>
	</array>
	<key>public.kern1.z_2</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern2.A_1</key>
	<array>
		<string>AE</string>
		<string>A.salt</string>
	</array>
	<key>public.kern2.Aupper_1</key>
	<array>
		<string>A</string>
	</array>
	<key>public.kern2.Eightar_1</key>
	<array>
		<string>uni0668</string>
		<string>uni06F8</string>
	</array>
	<key>public.kern2.Eth</key>
	<array>
		<string>Eth</string>
		<string>Dcroat</string>
	</array>
	<key>public.kern2.Fivear_1</key>
	<array>
		<string>uni0665</string>
		<string>uni06F5</string>
	</array>
	<key>public.kern2.Fourar_1</key>
	<array>
		<string>uni0664</string>
	</array>
	<key>public.kern2.I_1</key>
	<array>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>B</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>F.salt</string>
		<string>L.salt</string>
		<string>L_A</string>
		<string>N_T</string>
	</array>
	<key>public.kern2.J_1</key>
	<array>
		<string>J</string>
		<string>uni004A0301</string>
	</array>
	<key>public.kern2.Ninear_1</key>
	<array>
		<string>uni0669</string>
		<string>uni06F9</string>
	</array>
	<key>public.kern2.O_1</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>C_H</string>
	</array>
	<key>public.kern2.Onear_1</key>
	<array>
		<string>uni0661</string>
		<string>uni06F1</string>
	</array>
	<key>public.kern2.S_1</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>dollar</string>
	</array>
	<key>public.kern2.Sevenar_1</key>
	<array>
		<string>uni0667</string>
		<string>uni06F7</string>
		<string>uni06F7.urdu</string>
	</array>
	<key>public.kern2.Sixar_1</key>
	<array>
		<string>uni0666</string>
		<string>uni06F6</string>
	</array>
	<key>public.kern2.T_1</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>Ydieresis</string>
		<string>T_H</string>
		<string>T_T</string>
	</array>
	<key>public.kern2.Threear_1</key>
	<array>
		<string>uni0663</string>
		<string>uni06F3</string>
		<string>uni06F4</string>
		<string>uni06F4.urdu</string>
	</array>
	<key>public.kern2.Twoar_1</key>
	<array>
		<string>uni0662</string>
		<string>uni06F2</string>
	</array>
	<key>public.kern2.U_1</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern2.V_1</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern2.W_1</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.Y_1</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
		<string>yen</string>
	</array>
	<key>public.kern2.Z_1</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern2.Zeroar_1</key>
	<array>
		<string>uni0660</string>
		<string>uni06F0</string>
	</array>
	<key>public.kern2.colon_1</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.dnom_1</key>
	<array>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
	</array>
	<key>public.kern2.f_1</key>
	<array>
		<string>f</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_j</string>
		<string>f_t</string>
		<string>f_y</string>
	</array>
	<key>public.kern2.frac_1</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
	</array>
	<key>public.kern2.g_1</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern2.hyphen_1</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern2.i_1</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>public.kern2.idotless_1</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
	</array>
	<key>public.kern2.j_1</key>
	<array>
		<string>j</string>
		<string>uni0237</string>
		<string>uni006A0301</string>
	</array>
	<key>public.kern2.l_1</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>uni0137</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
	</array>
	<key>public.kern2.numr_1</key>
	<array>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
	</array>
	<key>public.kern2.o_1</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
	</array>
	<key>public.kern2.period_1</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern2.plus_1</key>
	<array>
		<string>plus</string>
		<string>plusminus</string>
	</array>
	<key>public.kern2.reh</key>
	<array>
		<string>uni0631</string>
		<string>uni0632</string>
		<string>uni0691</string>
		<string>uni0698</string>
	</array>
	<key>public.kern2.rehfina</key>
	<array>
		<string>uni0631.fina</string>
		<string>uni0632.fina</string>
		<string>uni0691.fina</string>
		<string>uni0698.fina</string>
		<string>uni066E0631</string>
		<string>uni066E0631.fina</string>
		<string>uni06280631</string>
		<string>uni06280631.fina</string>
		<string>uni06280632</string>
		<string>uni06280632.fina</string>
		<string>uni062C0631</string>
		<string>uni062C0631.fina</string>
		<string>uni062C0632</string>
		<string>uni062C0632.fina</string>
		<string>uni062D0631</string>
		<string>uni062D0631.fina</string>
		<string>uni062D0632</string>
		<string>uni062D0632.fina</string>
		<string>uni062E0631</string>
		<string>uni062E0631.fina</string>
		<string>uni062E0632</string>
		<string>uni062E0632.fina</string>
		<string>uni06330631</string>
		<string>uni06330631.fina</string>
		<string>uni06330632</string>
		<string>uni06330632.fina</string>
		<string>uni06340631</string>
		<string>uni06340631.fina</string>
		<string>uni06340632</string>
		<string>uni06340632.fina</string>
		<string>uni06350631</string>
		<string>uni06350631.fina</string>
		<string>uni06350632</string>
		<string>uni06350632.fina</string>
		<string>uni06360631</string>
		<string>uni06360631.fina</string>
		<string>uni06360632</string>
		<string>uni06360632.fina</string>
		<string>uni06390631</string>
		<string>uni06390632</string>
		<string>uni063A0631</string>
		<string>uni063A0632</string>
		<string>uni06410631</string>
		<string>uni06410632</string>
		<string>uni06A10631</string>
		<string>uni06420631</string>
		<string>uni06420632</string>
		<string>uni06450631</string>
		<string>uni06450632</string>
		<string>uni06490631.fina</string>
		<string>uni06490632.fina</string>
	</array>
	<key>public.kern2.s_1</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>uni0219</string>
	</array>
	<key>public.kern2.t_1</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>t_t</string>
	</array>
	<key>public.kern2.u_1</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>uni1EF9</string>
	</array>
	<key>public.kern2.v_1</key>
	<array>
		<string>v</string>
	</array>
	<key>public.kern2.w_1</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.z_1</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
