<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>P</key>
	<dict>
		<key>X</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>public.kern2.A_1</key>
		<integer>-120</integer>
		<key>public.kern2.Aupper_1</key>
		<integer>-40</integer>
		<key>public.kern2.J_1</key>
		<integer>-80</integer>
		<key>public.kern2.O_1</key>
		<integer>-30</integer>
		<key>public.kern2.S_1</key>
		<integer>-30</integer>
		<key>public.kern2.colon_1</key>
		<integer>-20</integer>
		<key>public.kern2.g_1</key>
		<integer>-110</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-30</integer>
		<key>public.kern2.o_1</key>
		<integer>-110</integer>
		<key>public.kern2.period_1</key>
		<integer>-210</integer>
		<key>public.kern2.s_1</key>
		<integer>-50</integer>
		<key>public.kern2.u_1</key>
		<integer>-30</integer>
		<key>public.kern2.w_1</key>
		<integer>-30</integer>
		<key>public.kern2.z_1</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-30</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>X</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>-100</integer>
		<key>public.kern2.I_1</key>
		<integer>-20</integer>
		<key>public.kern2.O_1</key>
		<integer>-50</integer>
		<key>public.kern2.T_1</key>
		<integer>-70</integer>
		<key>public.kern2.U_1</key>
		<integer>-40</integer>
		<key>public.kern2.V_1</key>
		<integer>-90</integer>
		<key>public.kern2.W_1</key>
		<integer>-70</integer>
		<key>public.kern2.Y_1</key>
		<integer>-80</integer>
		<key>public.kern2.hyphen_1</key>
		<integer>-50</integer>
		<key>registered</key>
		<integer>-75</integer>
		<key>trademark</key>
		<integer>-75</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>nine</key>
		<integer>-30</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>seven</key>
		<integer>-30</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-60</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>public.kern2.period_1</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.A_2</key>
	<dict>
		<key>public.kern2.I_1</key>
		<integer>-10</integer>
		<key>public.kern2.O_1</key>
		<integer>-40</integer>
		<key>public.kern2.T_1</key>
		<integer>-150</integer>
		<key>public.kern2.U_1</key>
		<integer>-50</integer>
		<key>public.kern2.V_1</key>
		<integer>-160</integer>
		<key>public.kern2.W_1</key>
		<integer>-50</integer>
		<key>public.kern2.Y_1</key>
		<integer>-100</integer>
		<key>public.kern2.v_1</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.Aupper_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-80</integer>
		<key>public.kern2.V_1</key>
		<integer>-110</integer>
		<key>public.kern2.Y_1</key>
		<integer>-30</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-20</integer>
		<key>registered</key>
		<integer>-50</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.B_2</key>
	<dict>
		<key>public.kern2.A_1</key>
		<integer>-20</integer>
		<key>public.kern2.T_1</key>
		<integer>-40</integer>
		<key>public.kern2.V_1</key>
		<integer>-90</integer>
		<key>public.kern2.W_1</key>
		<integer>-20</integer>
		<key>public.kern2.Y_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.v_1</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-50</integer>
		<key>registered</key>
		<integer>-50</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.C_2</key>
	<dict>
		<key>public.kern2.A_1</key>
		<integer>-20</integer>
		<key>public.kern2.V_1</key>
		<integer>-10</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.D_2</key>
	<dict>
		<key>X</key>
		<integer>-40</integer>
		<key>public.kern2.A_1</key>
		<integer>-100</integer>
		<key>public.kern2.Aupper_1</key>
		<integer>-20</integer>
		<key>public.kern2.I_1</key>
		<integer>-20</integer>
		<key>public.kern2.J_1</key>
		<integer>-30</integer>
		<key>public.kern2.S_1</key>
		<integer>-30</integer>
		<key>public.kern2.V_1</key>
		<integer>-40</integer>
		<key>public.kern2.g_1</key>
		<integer>-60</integer>
		<key>public.kern2.o_1</key>
		<integer>-60</integer>
		<key>public.kern2.period_1</key>
		<integer>-120</integer>
		<key>public.kern2.s_1</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.E_2</key>
	<dict>
		<key>public.kern2.v_1</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.Eightar_2</key>
	<dict>
		<key>public.kern2.Fivear_1</key>
		<integer>-30</integer>
		<key>public.kern2.Ninear_1</key>
		<integer>-40</integer>
		<key>public.kern2.Onear_1</key>
		<integer>-30</integer>
		<key>public.kern2.Sevenar_1</key>
		<integer>-120</integer>
		<key>public.kern2.Sixar_1</key>
		<integer>-110</integer>
		<key>public.kern2.Zeroar_1</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.F_2</key>
	<dict>
		<key>X</key>
		<integer>-40</integer>
		<key>public.kern2.A_1</key>
		<integer>-60</integer>
		<key>public.kern2.Aupper_1</key>
		<integer>-80</integer>
		<key>public.kern2.I_1</key>
		<integer>-20</integer>
		<key>public.kern2.J_1</key>
		<integer>-110</integer>
		<key>public.kern2.O_1</key>
		<integer>-60</integer>
		<key>public.kern2.S_1</key>
		<integer>-50</integer>
		<key>public.kern2.Z_1</key>
		<integer>-40</integer>
		<key>public.kern2.g_1</key>
		<integer>-110</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-90</integer>
		<key>public.kern2.o_1</key>
		<integer>-100</integer>
		<key>public.kern2.period_1</key>
		<integer>-110</integer>
		<key>public.kern2.s_1</key>
		<integer>-90</integer>
		<key>public.kern2.u_1</key>
		<integer>-70</integer>
		<key>public.kern2.v_1</key>
		<integer>-90</integer>
		<key>public.kern2.w_1</key>
		<integer>-70</integer>
		<key>public.kern2.z_1</key>
		<integer>-70</integer>
		<key>x</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.Fivear_2</key>
	<dict>
		<key>public.kern2.Eightar_1</key>
		<integer>-30</integer>
		<key>public.kern2.Sevenar_1</key>
		<integer>-60</integer>
		<key>public.kern2.Sixar_1</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.Fourar_2</key>
	<dict>
		<key>public.kern2.Ninear_1</key>
		<integer>-60</integer>
		<key>public.kern2.Sevenar_1</key>
		<integer>-30</integer>
		<key>public.kern2.Sixar_1</key>
		<integer>-20</integer>
		<key>public.kern2.Zeroar_1</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.G_2</key>
	<dict>
		<key>X</key>
		<integer>-30</integer>
		<key>public.kern2.A_1</key>
		<integer>-30</integer>
		<key>public.kern2.T_1</key>
		<integer>-60</integer>
		<key>public.kern2.V_1</key>
		<integer>-90</integer>
		<key>public.kern2.period_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-40</integer>
		<key>registered</key>
		<integer>-30</integer>
		<key>trademark</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.I_2</key>
	<dict>
		<key>X</key>
		<integer>-20</integer>
		<key>public.kern2.A_1</key>
		<integer>-20</integer>
		<key>public.kern2.T_1</key>
		<integer>-10</integer>
		<key>public.kern2.V_1</key>
		<integer>-50</integer>
		<key>public.kern2.period_1</key>
		<integer>-50</integer>
		<key>public.kern2.s_1</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.J_2</key>
	<dict>
		<key>X</key>
		<integer>-30</integer>
		<key>public.kern2.A_1</key>
		<integer>-60</integer>
		<key>public.kern2.J_1</key>
		<integer>-20</integer>
		<key>public.kern2.g_1</key>
		<integer>-20</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.K_2</key>
	<dict>
		<key>public.kern2.O_1</key>
		<integer>-20</integer>
		<key>public.kern2.V_1</key>
		<integer>-20</integer>
		<key>public.kern2.g_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.v_1</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.L_2</key>
	<dict>
		<key>X</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>-75</integer>
		<key>public.kern2.T_1</key>
		<integer>-150</integer>
		<key>public.kern2.U_1</key>
		<integer>-50</integer>
		<key>public.kern2.V_1</key>
		<integer>-150</integer>
		<key>public.kern2.W_1</key>
		<integer>-50</integer>
		<key>public.kern2.Y_1</key>
		<integer>-110</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.t_1</key>
		<integer>-40</integer>
		<key>public.kern2.u_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-120</integer>
		<key>registered</key>
		<integer>-150</integer>
		<key>trademark</key>
		<integer>-150</integer>
	</dict>
	<key>public.kern1.Ninear_2</key>
	<dict>
		<key>public.kern2.Sevenar_1</key>
		<integer>-30</integer>
		<key>public.kern2.Sixar_1</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.O_2</key>
	<dict>
		<key>X</key>
		<integer>-30</integer>
		<key>public.kern2.A_1</key>
		<integer>-40</integer>
		<key>public.kern2.T_1</key>
		<integer>-50</integer>
		<key>public.kern2.V_1</key>
		<integer>-90</integer>
		<key>public.kern2.period_1</key>
		<integer>-40</integer>
		<key>registered</key>
		<integer>-20</integer>
		<key>trademark</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.Onear_2</key>
	<dict>
		<key>public.kern2.Sevenar_1</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.R_2</key>
	<dict>
		<key>public.kern2.idotless_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.s_1</key>
		<integer>-10</integer>
		<key>public.kern2.u_1</key>
		<integer>-10</integer>
		<key>public.kern2.v_1</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.S_2</key>
	<dict>
		<key>public.kern2.A_1</key>
		<integer>-20</integer>
		<key>public.kern2.T_1</key>
		<integer>-30</integer>
		<key>public.kern2.U_1</key>
		<integer>-20</integer>
		<key>public.kern2.V_1</key>
		<integer>-60</integer>
		<key>public.kern2.Y_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-50</integer>
		<key>registered</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.Sevenar_2</key>
	<dict>
		<key>public.kern2.Eightar_1</key>
		<integer>-130</integer>
		<key>public.kern2.Fivear_1</key>
		<integer>-70</integer>
		<key>public.kern2.Fourar_1</key>
		<integer>-30</integer>
		<key>public.kern2.Zeroar_1</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.T_2</key>
	<dict>
		<key>X</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>public.kern2.A_1</key>
		<integer>-150</integer>
		<key>public.kern2.Aupper_1</key>
		<integer>-80</integer>
		<key>public.kern2.J_1</key>
		<integer>-80</integer>
		<key>public.kern2.O_1</key>
		<integer>-50</integer>
		<key>public.kern2.S_1</key>
		<integer>-20</integer>
		<key>public.kern2.g_1</key>
		<integer>-110</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-70</integer>
		<key>public.kern2.o_1</key>
		<integer>-110</integer>
		<key>public.kern2.period_1</key>
		<integer>-110</integer>
		<key>public.kern2.s_1</key>
		<integer>-110</integer>
		<key>public.kern2.u_1</key>
		<integer>-60</integer>
		<key>public.kern2.v_1</key>
		<integer>-30</integer>
		<key>public.kern2.w_1</key>
		<integer>-70</integer>
		<key>public.kern2.z_1</key>
		<integer>-70</integer>
		<key>x</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.Threear_2</key>
	<dict>
		<key>public.kern2.Eightar_1</key>
		<integer>-100</integer>
		<key>public.kern2.Fivear_1</key>
		<integer>-30</integer>
		<key>public.kern2.Zeroar_1</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.Twoar_2</key>
	<dict>
		<key>public.kern2.Eightar_1</key>
		<integer>-150</integer>
		<key>public.kern2.Fivear_1</key>
		<integer>-80</integer>
		<key>public.kern2.Fourar_1</key>
		<integer>-30</integer>
		<key>public.kern2.Ninear_1</key>
		<integer>-20</integer>
		<key>public.kern2.Twoar_1</key>
		<integer>-40</integer>
		<key>public.kern2.Zeroar_1</key>
		<integer>-120</integer>
	</dict>
	<key>public.kern1.V_2</key>
	<dict>
		<key>X</key>
		<integer>-40</integer>
		<key>public.kern2.A_1</key>
		<integer>-160</integer>
		<key>public.kern2.Aupper_1</key>
		<integer>-120</integer>
		<key>public.kern2.I_1</key>
		<integer>-20</integer>
		<key>public.kern2.J_1</key>
		<integer>-80</integer>
		<key>public.kern2.O_1</key>
		<integer>-100</integer>
		<key>public.kern2.S_1</key>
		<integer>-50</integer>
		<key>public.kern2.Z_1</key>
		<integer>-30</integer>
		<key>public.kern2.colon_1</key>
		<integer>-50</integer>
		<key>public.kern2.f_1</key>
		<integer>-20</integer>
		<key>public.kern2.g_1</key>
		<integer>-120</integer>
		<key>public.kern2.hyphen_1</key>
		<integer>-70</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-60</integer>
		<key>public.kern2.o_1</key>
		<integer>-120</integer>
		<key>public.kern2.period_1</key>
		<integer>-150</integer>
		<key>public.kern2.s_1</key>
		<integer>-100</integer>
		<key>public.kern2.u_1</key>
		<integer>-60</integer>
		<key>public.kern2.v_1</key>
		<integer>-40</integer>
		<key>public.kern2.w_1</key>
		<integer>-40</integer>
		<key>public.kern2.z_1</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.W_2</key>
	<dict>
		<key>X</key>
		<integer>-20</integer>
		<key>public.kern2.A_1</key>
		<integer>-50</integer>
		<key>public.kern2.J_1</key>
		<integer>-40</integer>
		<key>public.kern2.O_1</key>
		<integer>0</integer>
		<key>public.kern2.g_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.Y_2</key>
	<dict>
		<key>X</key>
		<integer>-40</integer>
		<key>public.kern2.A_1</key>
		<integer>-80</integer>
		<key>public.kern2.Aupper_1</key>
		<integer>-30</integer>
		<key>public.kern2.J_1</key>
		<integer>-30</integer>
		<key>public.kern2.S_1</key>
		<integer>-20</integer>
		<key>public.kern2.g_1</key>
		<integer>-40</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-40</integer>
		<key>public.kern2.period_1</key>
		<integer>-50</integer>
		<key>public.kern2.s_1</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.Z_2</key>
	<dict>
		<key>public.kern2.A_1</key>
		<integer>-10</integer>
		<key>public.kern2.g_1</key>
		<integer>-20</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-30</integer>
		<key>public.kern2.s_1</key>
		<integer>-20</integer>
		<key>public.kern2.u_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-30</integer>
		<key>public.kern2.w_1</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.Zeroar_2</key>
	<dict>
		<key>public.kern2.Eightar_1</key>
		<integer>-30</integer>
		<key>public.kern2.Fourar_1</key>
		<integer>-20</integer>
		<key>public.kern2.Ninear_1</key>
		<integer>-10</integer>
		<key>public.kern2.Sevenar_1</key>
		<integer>-80</integer>
		<key>public.kern2.Sixar_1</key>
		<integer>-180</integer>
	</dict>
	<key>public.kern1.c_2</key>
	<dict>
		<key>public.kern2.J_1</key>
		<integer>40</integer>
		<key>public.kern2.T_1</key>
		<integer>-70</integer>
		<key>public.kern2.V_1</key>
		<integer>-50</integer>
		<key>public.kern2.Y_1</key>
		<integer>-30</integer>
		<key>public.kern2.o_1</key>
		<integer>-10</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.v_1</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
		<key>registered</key>
		<integer>-75</integer>
		<key>trademark</key>
		<integer>-75</integer>
	</dict>
	<key>public.kern1.caron_2</key>
	<dict>
		<key>exclam</key>
		<integer>20</integer>
		<key>grave</key>
		<integer>50</integer>
		<key>question</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.colon_2</key>
	<dict>
		<key>asterisk</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.e_2</key>
	<dict>
		<key>public.kern2.I_1</key>
		<integer>-20</integer>
		<key>public.kern2.T_1</key>
		<integer>-110</integer>
		<key>public.kern2.V_1</key>
		<integer>-70</integer>
		<key>public.kern2.o_1</key>
		<integer>-10</integer>
		<key>public.kern2.period_1</key>
		<integer>-40</integer>
		<key>public.kern2.v_1</key>
		<integer>-40</integer>
		<key>registered</key>
		<integer>-75</integer>
		<key>trademark</key>
		<integer>-75</integer>
	</dict>
	<key>public.kern1.f_2</key>
	<dict>
		<key>public.kern2.A_1</key>
		<integer>-30</integer>
		<key>public.kern2.colon_1</key>
		<integer>-30</integer>
		<key>public.kern2.f_1</key>
		<integer>-30</integer>
		<key>public.kern2.g_1</key>
		<integer>-90</integer>
		<key>public.kern2.i_1</key>
		<integer>-30</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-60</integer>
		<key>public.kern2.j_1</key>
		<integer>-30</integer>
		<key>public.kern2.l_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-90</integer>
		<key>public.kern2.period_1</key>
		<integer>-70</integer>
		<key>public.kern2.s_1</key>
		<integer>-70</integer>
		<key>public.kern2.t_1</key>
		<integer>-20</integer>
		<key>public.kern2.u_1</key>
		<integer>-50</integer>
		<key>public.kern2.v_1</key>
		<integer>-60</integer>
		<key>public.kern2.w_1</key>
		<integer>-50</integer>
		<key>public.kern2.z_1</key>
		<integer>-60</integer>
		<key>x</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.g_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-80</integer>
		<key>public.kern2.Y_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-10</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.hyphen_1</key>
	<dict>
		<key>public.kern2.V_1</key>
		<integer>-70</integer>
		<key>seven</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.i_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-60</integer>
		<key>public.kern2.V_1</key>
		<integer>-40</integer>
		<key>public.kern2.Y_1</key>
		<integer>-20</integer>
		<key>public.kern2.g_1</key>
		<integer>-10</integer>
		<key>public.kern2.o_1</key>
		<integer>-10</integer>
		<key>public.kern2.period_1</key>
		<integer>-30</integer>
		<key>public.kern2.s_1</key>
		<integer>-20</integer>
		<key>public.kern2.v_1</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.idotless_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-80</integer>
		<key>public.kern2.V_1</key>
		<integer>-40</integer>
		<key>public.kern2.Y_1</key>
		<integer>-10</integer>
		<key>public.kern2.period_1</key>
		<integer>-40</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.j_2</key>
	<dict>
		<key>public.kern2.J_1</key>
		<integer>20</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.v_1</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.k_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-40</integer>
		<key>public.kern2.V_1</key>
		<integer>-80</integer>
		<key>public.kern2.g_1</key>
		<integer>-10</integer>
		<key>public.kern2.i_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.t_1</key>
		<integer>-20</integer>
		<key>public.kern2.v_1</key>
		<integer>-60</integer>
		<key>public.kern2.w_1</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>registered</key>
		<integer>-50</integer>
		<key>trademark</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.l_2</key>
	<dict>
		<key>public.kern2.g_1</key>
		<integer>-10</integer>
		<key>public.kern2.i_1</key>
		<integer>-10</integer>
		<key>public.kern2.j_1</key>
		<integer>-10</integer>
		<key>public.kern2.o_1</key>
		<integer>-10</integer>
		<key>public.kern2.period_1</key>
		<integer>-50</integer>
		<key>public.kern2.v_1</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.n_2</key>
	<dict>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>public.kern2.T_1</key>
		<integer>-60</integer>
		<key>public.kern2.U_1</key>
		<integer>-20</integer>
		<key>public.kern2.V_1</key>
		<integer>-100</integer>
		<key>public.kern2.Y_1</key>
		<integer>-40</integer>
		<key>public.kern2.t_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-70</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>registered</key>
		<integer>-100</integer>
		<key>trademark</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.o_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-120</integer>
		<key>public.kern2.V_1</key>
		<integer>-90</integer>
		<key>public.kern2.Y_1</key>
		<integer>-50</integer>
		<key>public.kern2.Z_1</key>
		<integer>-20</integer>
		<key>public.kern2.i_1</key>
		<integer>-10</integer>
		<key>public.kern2.l_1</key>
		<integer>-10</integer>
		<key>public.kern2.o_1</key>
		<integer>-10</integer>
		<key>public.kern2.period_1</key>
		<integer>-30</integer>
		<key>public.kern2.s_1</key>
		<integer>-10</integer>
		<key>public.kern2.v_1</key>
		<integer>-50</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
		<key>registered</key>
		<integer>-75</integer>
		<key>trademark</key>
		<integer>-75</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.period_2</key>
	<dict>
		<key>asterisk</key>
		<integer>-40</integer>
		<key>nine</key>
		<integer>-30</integer>
		<key>public.kern2.T_1</key>
		<integer>-100</integer>
		<key>public.kern2.Y_1</key>
		<integer>-80</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.r_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-30</integer>
		<key>public.kern2.V_1</key>
		<integer>-20</integer>
		<key>public.kern2.g_1</key>
		<integer>-40</integer>
		<key>public.kern2.i_1</key>
		<integer>-10</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-50</integer>
		<key>public.kern2.l_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-30</integer>
		<key>public.kern2.period_1</key>
		<integer>-40</integer>
		<key>public.kern2.s_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-30</integer>
		<key>registered</key>
		<integer>-50</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.s_2</key>
	<dict>
		<key>public.kern2.J_1</key>
		<integer>20</integer>
		<key>public.kern2.T_1</key>
		<integer>-50</integer>
		<key>public.kern2.U_1</key>
		<integer>-20</integer>
		<key>public.kern2.V_1</key>
		<integer>-100</integer>
		<key>public.kern2.Y_1</key>
		<integer>-30</integer>
		<key>public.kern2.i_1</key>
		<integer>-10</integer>
		<key>public.kern2.l_1</key>
		<integer>-20</integer>
		<key>public.kern2.v_1</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>trademark</key>
		<integer>-75</integer>
	</dict>
	<key>public.kern1.t_2</key>
	<dict>
		<key>public.kern2.V_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.v_2</key>
	<dict>
		<key>public.kern2.A_1</key>
		<integer>-20</integer>
		<key>public.kern2.I_1</key>
		<integer>-20</integer>
		<key>public.kern2.J_1</key>
		<integer>-50</integer>
		<key>public.kern2.S_1</key>
		<integer>-40</integer>
		<key>public.kern2.T_1</key>
		<integer>-50</integer>
		<key>public.kern2.V_1</key>
		<integer>-40</integer>
		<key>public.kern2.Z_1</key>
		<integer>-20</integer>
		<key>public.kern2.g_1</key>
		<integer>-80</integer>
		<key>public.kern2.i_1</key>
		<integer>-30</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-20</integer>
		<key>public.kern2.l_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-80</integer>
		<key>public.kern2.period_1</key>
		<integer>-90</integer>
		<key>public.kern2.s_1</key>
		<integer>-50</integer>
		<key>public.kern2.w_1</key>
		<integer>-10</integer>
		<key>public.kern2.z_1</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>trademark</key>
		<integer>-50</integer>
		<key>x</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.w_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-70</integer>
		<key>public.kern2.V_1</key>
		<integer>-50</integer>
		<key>public.kern2.Y_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.s_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-20</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.y_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-80</integer>
		<key>public.kern2.V_1</key>
		<integer>-40</integer>
		<key>public.kern2.o_1</key>
		<integer>-10</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.v_1</key>
		<integer>-30</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.z_2</key>
	<dict>
		<key>public.kern2.T_1</key>
		<integer>-50</integer>
		<key>public.kern2.V_1</key>
		<integer>-50</integer>
		<key>public.kern2.g_1</key>
		<integer>-20</integer>
		<key>public.kern2.o_1</key>
		<integer>-20</integer>
		<key>public.kern2.period_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-20</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>public.kern2.V_1</key>
		<integer>-30</integer>
		<key>public.kern2.period_1</key>
		<integer>-20</integer>
		<key>public.kern2.v_1</key>
		<integer>-20</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>public.kern2.J_1</key>
		<integer>-70</integer>
		<key>public.kern2.g_1</key>
		<integer>-30</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-30</integer>
		<key>public.kern2.o_1</key>
		<integer>-30</integer>
		<key>public.kern2.s_1</key>
		<integer>-30</integer>
		<key>public.kern2.z_1</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>public.kern2.S_1</key>
		<integer>-60</integer>
		<key>public.kern2.idotless_1</key>
		<integer>-60</integer>
		<key>public.kern2.o_1</key>
		<integer>-70</integer>
		<key>public.kern2.s_1</key>
		<integer>-100</integer>
		<key>public.kern2.v_1</key>
		<integer>-40</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>eight</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-110</integer>
		<key>public.kern2.hyphen_1</key>
		<integer>-100</integer>
		<key>public.kern2.period_1</key>
		<integer>-165</integer>
		<key>six</key>
		<integer>-60</integer>
		<key>zero</key>
		<integer>-30</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>seven</key>
		<integer>-50</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>seven</key>
		<integer>-30</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>asterisk</key>
		<integer>-70</integer>
		<key>public.kern2.V_1</key>
		<integer>-60</integer>
		<key>public.kern2.o_1</key>
		<integer>-20</integer>
		<key>public.kern2.t_1</key>
		<integer>-30</integer>
		<key>public.kern2.u_1</key>
		<integer>-30</integer>
		<key>public.kern2.v_1</key>
		<integer>-90</integer>
		<key>public.kern2.w_1</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>trademark</key>
		<integer>-100</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>public.kern2.period_1</key>
		<integer>-30</integer>
	</dict>
</dict>
</plist>
